NEXT_PUBLIC_BUSINESS_NAME="Karpagam Foods"
NEXT_PUBLIC_PHONE_DISPLAY="+91 90953 33944"
NEXT_PUBLIC_PHONE="+919095333944"
NEXT_PUBLIC_WHATSAPP_DISPLAY="+91 90953 33944"
NEXT_PUBLIC_WHATSAPP="919095333944"
NEXT_PUBLIC_EMAIL="orders@samosasheet.com"
NEXT_PUBLIC_ADDRESS="No. 88, 7th Street, Azhagammal Nagar, Nerkundram, Chennai - 600107"
NEXT_PUBLIC_ADDRESS_LOCALITY="Chennai"
NEXT_PUBLIC_ADDRESS_REGION="Tamil Nadu"
NEXT_PUBLIC_POSTAL_CODE="600107"
NEXT_PUBLIC_HOURS="Monday – Saturday, 9:00 AM – 7:00 PM"
NEXT_PUBLIC_SITE_URL="https://samosasheet.com"
NEXT_PUBLIC_INSTAGRAM="https://instagram.com/yourbusiness"
NEXT_PUBLIC_FACEBOOK="https://facebook.com/yourbusiness"
NEXT_PUBLIC_YOUTUBE="https://youtube.com/@yourbusiness"
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""
NEXT_PUBLIC_ENQUIRY_API_URL="https://api.samosasheet.com/"
